<% include ../partials/header %>

<div>
<a class="btn btn-primary float-left prevnext" href="#">Previous</a>
<a class="btn btn-primary float-right prevnext" href="#">Next</a>

</div>

<br></br>

<div class="container">
    <div class="card card-body mb-2">
        <h1><%= survey.name %></h1>
        <p><%= survey.description %></p>
        <p><em>Created by - <%= survey.author.firstName %></em></p>
        
        
        
        
        
        
        
        
        
        
    </div>
    
    <br></br>
        <div class="card card-body mb-2 bg-light">
            
            
            <br></br>
            <hr></hr>
            <% survey.questions.forEach(function(question) { %>
                <div>
                <img class="col-md-2 col-sm-2 col-xs-2 img-fluid img-thumbnail" src="<%= question.image %>">
                    <p>
                        
                              
                        <strong>
                        <%= question.text %>
                        </strong>
                    
                        
                    </p>    
                    
                    <!--display options:-->
                    
                    <!--display question preview based on types, with if statement-->
                    <% if (question.types == 1) { %>
                        <div>
                            <% question.options.forEach(function(options) { %>
                                <p>
                                  <input type="radio" id="radioTest" name="radios">
                                  <label><%= options.content %></label>
                                </p>
                            <% }) %>
                        </div>
                    <% } else if (question.types == 2) { %>
                        <div>
                        <% question.options.forEach(function(options) { %>
                            <p>
                              <input type="checkbox" id="checboxTest" name="checboxes">
                              <label><%= options.content %></label>
                            </p>
                        <% }) %>
                        </div>
                    <% } else if(question.types == 3){ %>
                        <div>
                            <input type="text" value="" >
                            </textarea>
                        </div>
                    <% } else if(question.types == 4){ %>
                        <div>
                            <textarea rows="4" cols="50"></textarea>
                            </textarea>
                        </div>
                     <% } else if (question.types == 5) { %>
                        <div>
                        <% question.options.forEach(function(options) { %>
                            <p>
                              <input type="text" value="" >
                            </p>
                         <% }) %>
                        </div>
                    <% } else if (question.types == 6) { %>
                       <div>
                       <% question.options.forEach(function(options) { %>
                            <span><input type="radio" name="rating" id="str"><label for="str"><%= options.content %></label></span>
                       <% }) %>
                       </div> 
                    <% } else if (question.types == 7) { %>
                        <input type="range" min="<%= question.silderMax%>" max="<%= question.silderMin%>">
                        <span>Max: <%= question.silderMax%></span>
                        <span>Min: <%= question.silderMin%></span>
                    <% } %>
                        
                     
                    
                    <br></br>
            <% }) %>
        </div>
    </div>
    
</div>

<div class="container">
    <a class="btn btn-primary float-right" href="/">Submit</a>
</div>



<% include ../partials/footer %>